# Core
python-dateutil==2.9.0.post0

# Data Handling
pandas==2.2.2
numpy==1.26.4

# Data Generation
Faker==24.4.0

# Database
sqlite-utils==3.36
mysql-connector-python==9.0.0

# Visualization
matplotlib==3.8.4
plotly==5.22.0

# Dashboard
streamlit==1.37.0

# Utilities
python-dotenv==1.0.1
